<% if img_files.any? %>
  <div class="flex flex-wrap">
    <% img_files.each_with_index do |img_path, index| %>
      <% if config_array[index] %>
        <div class="image-container mb-5 mr-5" style="width: <%= document_size[0] %>px; height: <%= document_size[1] %>px">
          <img src="<%= img_path.gsub('public/', '/') %>">
          <% config_array[index].each do |key, value| %>
            <div class="overlay-text" style="left: <%= value[:x_pos] %>%; bottom: <%= value[:y_pos] - value[:height] %>%; width: <%= value[:width] %>%; height: <%= value[:height] %>%; color: #<%= value[:color] %>; text-align: <%= value[:align] %>; vertical-align: middle; font-size: <%= value[:size] %>px; transform: rotate(<%= -value[:rotate] %>deg);">
              <%= result[key.to_s] %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
