<!DOCTYPE html>
<html>
  <head>
    <title>Polyglot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
    <%= favicon_link_tag 'favicon.png', rel: 'apple-touch-icon', type: 'image/png' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= Sentry.get_trace_propagation_meta.html_safe %>
  </head>

  <body class="flex flex-col">
    <%= render("layouts/header") %>
    <div class="mx-auto px-4 w-full max-w-6xl my-3">
      <%= yield %>
    </div>
    <%= render "layouts/matomo" %>
  </body>
</html>
